.calcbody-output-container {
    background-color: #304047;
}
.output {
    color: #FFF;
    text-align: right;
}
.calcbody-button-container {
    padding: 0;
}
ul.calcbody-button {
    float: left;
    width: 100%;
}
ul.calcbody-button li {
    float: left;
    padding: 1.5em 0;
    font-size: 2.7em;
    text-align: center;
    cursor: pointer;
    color: #FFF;
    border: 1px solid #29A99C;
}
ul.calcbody-numbers li {
    width: 33.333%;
    background-color: #009889;
}
ul.calcbody-operator li {
    width: 20%;
    background-color: #048B7E;
    border: none;
}
ul.calcbody-operator li:last-child {
    background-color: #E4AE04;
}