.output {
    color: #b2b2b2;
    text-align: right;
}
.button-fab.no-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.calcbody {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
}
.calcbody .row {
    -webkit-flex: 1;
}
.btn-row {
    -webkit-align-items: center;
}
