.flexbox {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #FFF;
}
.calcbody-output-container {
    background-color: #304047;
    height: 20%;
}
.number-container {
    height: 64%;
}
.operator-container {
    height: 16%;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.calcbody-output-container > div {
    color: #FFF;
    text-align: right;
    height: 50%;
    font-size: 2.5em;
    padding-right: 0.2em;
}
.number-container > div, .operator-container > div {
    padding: 0;
    margin: 0;
    display: table;
}
.operator-container > div > div, .number-container > div > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 2.5em;
    background-color: #048B7E;
    border: 1px solid #29A99C;
}
.number-container > div {
    height: 27%;
}
.number-container > div > div {
    width: 33.333%;
}
.operator-container > div {
    height: 100%;
}
.operator-container > div > div {
    border-right: none;
    border-left: none;
    width: 20%;
}
.operator-container > div > div:last-child {
    background-color: #E4AE04;
}